<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>


        <td>
            <form th:action="@{user-update/{id}(id=${user.id})}">
                <input type="submit" value="Edit"/>
            </form>
        </td>


        <td>
            <form th:method="DELETE" th:action="@{user-delete/{id}(id=${user.id})}">
                <input type="submit" value="Delete!"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>
</div>
<p><a href="/user-create">Create user</a></p>
</div>
</body>
</html>